# Build
build/
*.o
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.log
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.ipch
*.cache
*.vs/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Code
.vscode/

# OS
.DS_Store
Thumbs.db

# OBS Studio
rundir/ 